@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,400;1,100&family=Rubik&display=swap');


*{
    font-family: "Montserrat";
    color: #fff;
    scroll-behavior: smooth;
}

footer {
    background: #1C1C1C;
}